<ng-container *ngIf="results && results.hits">
  <aside>
    <nav>
      <em>{{results.hits.total}} results</em>
      <hr />
      <details class="agg" *ngFor="let cfg of aggs" open>
        <ng-container *ngIf="results.aggregations[cfg.code] as agg">
          <summary>
            <strong>{{cfg.name}}</strong>
          </summary>
          <ul>
            <li *ngFor="let term of agg.buckets">
              <small><a (click)="toggleFilter(cfg.code, term.key)" class="secondary">
                  {{term.key}}
                  <strong>{{term.doc_count}} </strong>
                  <fa-icon *ngIf="hasFilter(cfg.code, term.key)" [icon]="['fas', 'check-circle']">
                  </fa-icon>
                </a>
              </small>
            </li>
          </ul>
        </ng-container>
      </details>
    </nav>
  </aside>

  <div class="content" role="document">
    <ng-container *ngIf="results.hits.total > 0; else noResult">
      <article *ngFor="let object of results.hits.hits">
        <h4>
          <app-object-card [object]="object"></app-object-card>
        </h4>
        <h5 *ngIf="object.metadata.objects">{{object.metadata.objects.length}} objects</h5>
        <details>
          <summary>More...</summary>
          <app-markdown *ngIf="object.metadata.content" [readOnly]="true" [data]="object.metadata.content">
          </app-markdown>
        </details>
      </article>
    </ng-container>
  </div>


  <ng-template #noResult>
    <span>No results</span>
    <div>
      <a (click)="clearAggFilters()" class="mt-4 button is-info is-small" translate>See all results</a>
    </div>
  </ng-template>
</ng-container>
