<ng-container [formGroup]="formGroup">
  <ng-container *ngIf="subject">
    <div class="content" role="document">

      <!-- Subject -->
      <editable (save)="update()" (cancel)="cancel()">
        <ng-template viewMode>
          <h4>{{ subject.metadata.name }}</h4>
        </ng-template>
        <ng-template editMode>
          <input editableOnEnter editableOnEscape formControlName="name" type="text" placeholder="Text input">
        </ng-template>
      </editable>

      <editable style="display: block; margin-bottom: 10px;" (save)="update()" (cancel)="cancel()">
        <ng-template viewMode>
          <h5>{{ subject.metadata.type }}</h5>
        </ng-template>
        <ng-template editMode>
          <input editableOnEnter editableOnEscape formControlName="type" />
        </ng-template>
      </editable>

      <editable style="display: block; margin-bottom: 10px;" (save)="update()" (cancel)="cancel()">
        <ng-template viewMode>
          <app-markdown [readOnly]="true" [data]="subject.metadata.content">
          </app-markdown>
        </ng-template>
        <ng-template editMode>
            <app-markdown (dataChange)="updateContent($event)" [readOnly]="false" [data]="subject.metadata.content">
            </app-markdown>
        </ng-template>
      </editable>

      <!-- Objects -->
      <article>
        <h5>Objects</h5>
        <div droppable [dropScope]="isDropAllowed" class="has-min-height-50 dropzone" (onDrop)="onObjectDrop($event)">
          <p *ngIf="subject.metadata.objects.length < 1">Drop items here</p>
          <ul formArrayName="objects">
            <li [formGroupName]="i" *ngFor="let object of subject.metadata.objects; let i=index">
              <editable (save)="update()" (cancel)="cancel()">
                <ng-template viewMode><span>
                    {{object.predicate}}
                  </span>
                </ng-template>
                <ng-template editMode>
                  <input editableOnEnter editableOnEscape formControlName="predicate" type="text"
                    placeholder="Text input">
                </ng-template>
              </editable>
              <fa-icon [icon]="['fas', 'long-arrow-alt-right']"></fa-icon>
              <app-object-link [objectLink]="object"></app-object-link>
            </li>
          </ul>
        </div>
      </article>

      <!-- Files -->
      <app-files [subjectID]="subject.id"></app-files>
    </div>
  </ng-container>
</ng-container>
