div[droppable] {
  min-height: 50px;
}
.input {
  width: auto;
}

.dropzone {
  border: 1px solid #a2afb9;
  border-radius: 5px;
}
textarea {
  min-height: 400px;
}

ul.objects li {
  list-style: none;
  margin: .5rem 0;
}
